<div id="chat_menu" th:fragment="menu">
    <h2 id="chat_count" th:text="${accounts.size+' Users'}"></h2>
    <ul id="chat_list">
        <li class="chat_option" th:each="account : ${accounts}">
            <span class="chat_name" th:text="${account.givenName+' '+account.surname}"></span>
        </li>
    </ul>
</div>

<div class="chat_box" th:fragment="box">
    <div class="chat_header">
        Test User
        <span class="close-msg">&times;</span>
    </div>
    <div class="chat_collapse">
        <ul class="chat_conversation">
		<li class="chat_msg" th:each="message : ${message}">
                <div class="msg_time">6/12/16 10:25 PM</div>
                <div class="msg_content" th:text="${message.message}"></div>
		</li>
        </ul>
         <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="create_messge_form" method="POST">
                    <div class="modal-body">
                        <div class="form-group">
                            <input id="message" type="text" class="form-control" placeholder="Enter Message"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>