body {
	padding: 20px;
}

h2 {
	color: #333;
}

.board {
	border: 2px dotted grey;
	border-radius: 5px;
	padding: 10px;
	margin-left: 20px;
}

.board div {
	background: #f9f9f9;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	color: #333;
	cursor: move;
}