.board {
    border: 1px solid grey;
    padding: 10px;
    margin-left: 20px;
}

.board .task {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    color: #333;
    cursor: move;
}