#newTask input, textarea, label{
	margin-top: 10px;
}

.modal-body {
	height: auto;
	overflow-y: hidden;
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}

.board {
	border: 1px solid grey;
	padding: 10px;
	margin-top:47px;
	overflow-y:auto;
	height:400px;
}

.board div {
	background: #f9f9f9;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	color: #333;
	cursor: move;
}
