<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Heroku Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.1/dragula.min.css" />
    <link rel="stylesheet" href="css/index.css" />
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>BU Team 3</h1>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-6">
            <form th:object="${insertRecord}" method="POST">
                <div class="form-group">
                    <label for="data">Create a new issue</label>
                    <input id="data" type="text" class="form-control" placeholder="Issue" th:field="*{data}" />
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>

    <hr />
    <div class="row">
        <div  class="col-sm-3">
            <h4>Done</h4>
            <div id="done_board" class="board"></div>
        </div>
        <div  class="col-sm-3">
            <h4>Current</h4>
            <div id="current_board" class="board"></div>
        </div>
        <div  class="col-sm-3">
            <h4>Backlog</h4>
            <div id="backlog_board" class="board"></div>
        </div>
        <div  class="col-sm-3">
            <h4>Icebox</h4>
            <div id="icebox_board" class="board">
                <div th:each="record : ${records}">
                    <span th:text="${record.data}" th:id="${record.id}"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.1/dragula.min.js'></script>
<script src="js/index.js"></script>
</body>
</html>
