<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bit Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.1/dragula.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.5/jquery.jgrowl.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/issue_tracker.css" />
    <link rel="stylesheet" href="css/chat.css" />
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">BU Team 3</a>
            </div>
            <!--/* displayed if account IS NOT null, indicating that the user IS logged in */-->
            <div th:if="${account}" class="navbar-right">
                <p class="navbar-text" th:text="${'Hello, '+account.givenName+' '+account.surname}"></p>
                <a th:href="@{/logout}" class="btn btn-danger navbar-btn">Logout</a>
            </div>

            <!--/* displayed if account IS null, indicating that the user IS NOT logged in */-->
            <div th:unless="${account}" class="navbar-right">
                <a th:href="@{/login}" class="btn btn-success navbar-btn">Login</a>
            </div>
        </div>
    </nav>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#create_issue_modal">
        Create New Task
    </button>

    <!-- Modal -->
    <div class="modal fade" id="create_issue_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="create_issue_form" method="POST">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Create a new task</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input id="data" type="text" class="form-control" placeholder="Issue"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <hr/>
    <div th:replace="fragments/issue_tracker :: boards">&nbsp;</div>

    <div class="chat_box">
        <div class="chat_header">
            Group Chat
            <!--<span class="close-msg">&times;</span>-->
        </div>
        <div class="chat_collapse">
            <ul id="chat_conversation" th:replace="fragments/chat :: conversation"></ul>
            <div role="document">
                <div class="modal-content">
                    <form id="create_messge_form" method="POST">
                        <div class="modal-body">
                            <input id="message" type="text" class="form-control" placeholder="Enter Message"/>
                            <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--<div th:replace="fragments/chat_menu :: menu">&nbsp;</div>-->
    <!--<button type="button" id="chat_button" th:text="${'Chat (' + accounts.size + ')'}"></button>-->

</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.5/jquery.jgrowl.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.1/dragula.min.js"></script>
<script src="js/issue_tracker.js"></script>
<script src="js/chat.js"></script>
</body>
</html>
