

body {
	background-color: white;
	}

#login {
	margin-top:.5em;
}

.btn-primary {
    color: #fff;
    background-color: black;
    border-color: #2e6da4;
    width: 100%;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 10px;
}

#columns .col-md-12{
	padding:20px;
	}
#columns tbody{
	display:block;
	height:410px;
	overflow-y:auto;
}
#columns td{
	width: 225px;
}

.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}

select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
    text-align: center;
}
